@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@import "tailwindcss";

html, body{
  height: 100%;
}

@theme{
  --font-noto: "Noto Sans", sans-serif;
  --font-roboto-flex: "Roboto Flex", sans-serif;
}
